aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
altgraph==0.17
astroid==2.4.2
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
backports.functools-lru-cache==1.6.1
backports.zoneinfo==0.2.1
blinker==1.6.2
boto3==1.26.156
botocore==1.29.156
build-utils==0.3.2
cachetools==5.3.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.3
conda==4.8.5
conda-package-handling==1.7.0
coverage==5.5
cryptography==2.9.2
cycler==0.10.0
dataclasses-json==0.5.8
datasets==2.11.0
decorator==4.4.2
deeplake==3.6.4
defusedxml==0.6.0
deprecation==2.1.0
dill==0.3.6
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
eyed3==0.9.6
ffmpeg==1.4
ffprobe==0.5
filelock==3.10.7
filetype==1.1.0
frozenlist==1.3.3
fsspec==2023.3.0
future==0.18.2
gitdb==4.0.10
GitPython==3.1.31
graphviz==0.20.1
greenlet==2.0.2
huggingface-hub==0.13.3
humbug==0.3.1
idna==2.9
imageio==2.24.0
imageio-ffmpeg==0.4.8
iniconfig==1.1.1
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.6.0
isort==5.5.3
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.2
jmespath==1.0.1
joblib==0.16.0
json2html==1.3.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter_client==7.4.8
jupyter_core==5.1.1
jupyterlab==2.2.8
jupyterlab-widgets==3.0.5
keyring==21.8.0
kiwisolver==1.2.0
langchain==0.0.200
langchainplus-sdk==0.0.10
lazy-object-proxy==1.4.3
lightning-utilities==0.8.0
lxml==4.9.2
markdown-it-py==3.0.0
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.3.1
mccabe==0.6.1
mdurl==0.1.2
menuinst==1.4.16
mistune==0.8.4
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.0
nose==1.3.7
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.25.0
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.0.5
pandas==2.0.2
pandocfilters==1.4.2
parso==0.5.2
pathos==0.3.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==9.5.0
pkginfo==1.6.1
platformdirs==2.6.0
plotly==5.8.0
pluggy==0.13.1
pox==0.3.2
ppft==1.7.6.6
proglog==0.1.10
protobuf==4.23.3
py==1.10.0
pyarrow==12.0.1
pycosat==0.6.3
pycparser==2.20
pydantic==1.10.9
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.15.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyJWT==2.7.0
pylint==2.6.0
pymarc==4.0.0
Pympler==1.0.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==3.0.1
pyserial==3.5
PySocks==1.7.1
pytest==6.2.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytorch-lightning==2.0.1
pytube==12.1.0
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==25.1.0
qtconsole==5.4.0
QtPy==2.3.0
rdflib==5.0.0
readme-renderer==28.0
regex==2023.6.3
requests==2.31.0
requests-toolbelt==0.9.1
responses==0.18.0
rfc3986==1.4.0
rich==13.4.2
ruamel_yaml==0.15.87
s3transfer==0.6.1
scikit-learn==0.23.2
scikit-network==0.23.1
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
smc==0.5.1
smc.bibencodings==0.1
smmap==5.0.0
SPARQLWrapper==1.8.5
SQLAlchemy==2.0.16
streamlit==1.23.1
streamlit-chat==0.0.2.2
sympy==1.11.1
tenacity==8.2.2
testpath==0.4.4
threadpoolctl==2.1.0
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.1
toolz==0.12.0
torch==2.0.0
torchmetrics==0.11.4
tornado==6.2
tqdm==4.46.0
traitlets==5.8.0
transformers==4.27.4
twine==3.3.0
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
Unidecode==1.1.1
urllib3==1.25.8
validators==0.20.0
watchdog==3.0.0
webencodings==0.5.1
widgetsnbextension==4.0.5
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xlrd==2.0.1
xxhash==3.2.0
yarl==1.8.2
youtube-dl==2021.12.17
